$fontPath: '../fonts/';

@font-face {
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  font-family: 'Gotham';
  src: url('#{$fontPath}/gotham/subset-Gotham-Black.eot');
  src: url('#{$fontPath}/gotham/subset-Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('#{$fontPath}/gotham/subset-Gotham-Black.woff2') format('woff2'),
    url('#{$fontPath}/gotham/subset-Gotham-Black.woff') format('woff'),
    url('#{$fontPath}/gotham/subset-Gotham-Black.ttf') format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  font-family: 'Gotham';
  src: url('#{$fontPath}/gotham/subset-Gotham-Bold.eot');
  src: url('#{$fontPath}/gotham/subset-Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$fontPath}/gotham/subset-Gotham-Bold.woff2') format('woff2'),
    url('#{$fontPath}/gotham/subset-Gotham-Bold.woff') format('woff'),
    url('#{$fontPath}/gotham/subset-Gotham-Bold.ttf') format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  font-family: 'Gotham';
  src: url('#{$fontPath}/gotham/subset-Gotham-Book.eot');
  src: url('#{$fontPath}/gotham/subset-Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('#{$fontPath}/gotham/subset-Gotham-Book.woff2') format('woff2'),
    url('#{$fontPath}/gotham/subset-Gotham-Book.woff') format('woff'),
    url('#{$fontPath}/gotham/subset-Gotham-Book.ttf') format('truetype');
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  font-family: 'Gotham';
  src: url('#{$fontPath}/gotham/subset-Gotham-Light.eot');
  src: url('#{$fontPath}/gotham/subset-Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('#{$fontPath}/gotham/subset-Gotham-Light.woff2') format('woff2'),
    url('#{$fontPath}/gotham/subset-Gotham-Light.woff') format('woff'),
    url('#{$fontPath}/gotham/subset-Gotham-Light.ttf') format('truetype');
}
