.section {
  padding: 3rem 0;

  &--white {
    background-color: $white;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: $font-weight-light;
    font-size: $h4-font-size;
    text-align: center;
  }
}
