.t-slider {
  position: relative;

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    pointer-events: none;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      left: 0;
      justify-content: space-between;
      width: 100%;
      transform: translateY(-50%);
    }
  }

  &__nav-btn {
    max-width: 3rem;
    pointer-events: initial;
    background: none;
    border: none;
    transition: all 0.2s ease-in-out;

    @include media-breakpoint-up(lg) {
      max-width: initial;
    }

    &:hover,
    &:focus {
      filter: drop-shadow(0 0 0.125rem $gray-900);
      outline: none;
    }
  }
}
