.t-lp .t-shirts {
  &__slider {
    margin-top: 1rem;
  }

  &__slider-nav-btn {
    max-width: 3rem;
    background: none;
    border: none;

    @include media-breakpoint-up(lg) {
      max-width: initial;
    }

    &:hover,
    &:focus {
      filter: drop-shadow(0 0 0.125rem $gray-900);
      outline: none;
    }
  }

  &__card {
    max-width: 295px;
    margin: 0 auto;
    background: no-repeat center center/contain;
    aspect-ratio: 295 / 445;
  }
}
