<section class="t-shirts section">
  <div class="container">
    <h2 class="section__title h2 d-flex align-content-center justify-content-center">
      Wypełnij formularz i&nbsp;otrzymają jedną z&nbsp;poniższych koszulek za&nbsp;1&nbsp;zł
    </h2>

    <div class="t-shirts__slider t-slider">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div
                  class="t-shirts__card"
                  style="background-image: url(${require('../../../images/t-shirts/t-shirt-women-blue.png')})"
                ></div>
              </div>
              <div class="swiper-slide">
                <div
                  class="t-shirts__card"
                  style="background-image: url(${require('../../../images/t-shirts/t-shirt-women-black.png')})"
                ></div>
              </div>
              <div class="swiper-slide">
                <div
                  class="t-shirts__card"
                  style="background-image: url(${require('../../../images/t-shirts/t-shirt-men-white.png')})"
                ></div>
              </div>
              <div class="swiper-slide">
                <div
                  class="t-shirts__card"
                  style="background-image: url(${require('../../../images/t-shirts/t-shirt-men-black.png')})"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="t-slider__nav">
        <button type="button" class="t-slider__nav-btn t-slider__nav-btn--prev t-shirts__slider-nav-btn--prev">
          <img src="../../../images/icons/ic-left.png" alt="Prev slide" />
        </button>
        <button type="button" class="t-slider__nav-btn t-slider__nav-btn--next t-shirts__slider-nav-btn--next">
          <img src="../../../images/icons/ic-right.png" alt="Next slide" />
        </button>
      </div>
    </div>
  </div>
</section>
