<section class="steps section">
  <div class="container">
    <h2 class="section__title h2">
      CO MUSISZ ZROBIĆ, ABY OTRZYMAĆ <br />
      KOSZULKĘ DO BIEGANIA?
    </h2>
    <p class="section__subtitle">Zobacz, co&nbsp;zrobić krok po&nbsp;kroku!</p>

    <div class="steps__grid">
      <div class="row justify-content-around">
        <div class="col-12 col-md-auto col-xl-3">
          <div class="steps__grid-box">
            <img class="steps__grid-ic" src="../../../images/steps/steps-ic-1.png" alt="" />
            <p class="text">Kup buty NB Drift <br />na&nbsp;<strong>sklepmartes.pl</strong></p>
          </div>
        </div>
        <div class="col-12 col-md-auto col-xl-auto">
          <div class="steps__grid-box">
            <img class="steps__grid-ic" src="../../../images/steps/steps-ic-2.png" alt="" />
            <p class="text"><strong>Zarejestruj</strong> swój zakup <br />i&nbsp;podaj adres e-mail.</p>
          </div>
        </div>
        <div class="col-12 col-md-auto col-xl-3">
          <div class="steps__grid-box">
            <img class="steps__grid-ic" src="../../../images/steps/steps-ic-3.png" alt="" />
            <p class="text">
              <strong>Otrzymasz e-mail <br />z&nbsp;kodem rabatowym</strong> <br />na&nbsp;sklepmartes.pl, <br />który
              obniży wartość <br />koszulki do&nbsp;1 zł.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
