.t-lp .steps {
  &__grid {
    margin-top: 1.25rem;
    counter-reset: steps;

    @include media-breakpoint-up(lg) {
      margin-top: 3rem;
    }
  }

  &__grid-box {
    position: relative;
    z-index: 1;
    max-width: 320px;
    padding-top: 7.5rem;
    margin: 1rem auto;
    text-align: center;

    @include media-breakpoint-up(lg) {
      max-width: 360px;
      text-align: initial;
    }

    &:before {
      position: absolute;
      top: 0.135rem;
      left: calc(50% - 2rem);
      z-index: -1;
      font-style: italic;
      font-weight: 900;
      font-size: 9.375rem * 0.8;
      font-family: $font-family-base;
      line-height: 1;
      color: $red;
      content: counter(steps);
      counter-increment: steps;
      transform: translateX(-50%);

      @include media-breakpoint-up(md) {
        top: -0.75rem;
        left: 1.25rem;
        min-width: 95px;
        font-size: 9.375rem;
        text-align: center;
        transform: translateX(0);
      }
    }

    p {
      margin: 0;

      br {
        display: none;

        @include media-breakpoint-up(md) {
          display: initial;
        }
      }
    }
  }

  &__grid-ic {
    position: absolute;
    top: 0.25rem;
    left: calc(50% + 2rem);
    max-width: 4.25rem;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      top: 0;
      left: 7rem;
      max-width: 100%;
      transform: translateX(0);
    }
  }
}
