//@import 'bootstrap';

// scss-docs-start import-stack
// Configuration
@import '~bootstrap/scss/functions';
@import 'variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

// globals
@import 'global/fonts';

.t-lp {
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 1rem;
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  background-color: $body-bg;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // Layout & components
  @import '~bootstrap/scss/root';
  @import '~bootstrap/scss/reboot';
  @import '~bootstrap/scss/type';
  @import '~bootstrap/scss/images';
  @import '~bootstrap/scss/containers';
  @import '~bootstrap/scss/grid';
  @import '~bootstrap/scss/tables';
  @import '~bootstrap/scss/forms';
  @import '~bootstrap/scss/buttons';
  @import '~bootstrap/scss/transitions';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';
  @import '~bootstrap/scss/nav';
  @import '~bootstrap/scss/navbar';
  @import '~bootstrap/scss/card';
  @import '~bootstrap/scss/accordion';
  @import '~bootstrap/scss/breadcrumb';
  @import '~bootstrap/scss/pagination';
  @import '~bootstrap/scss/badge';
  @import '~bootstrap/scss/alert';
  @import '~bootstrap/scss/progress';
  @import '~bootstrap/scss/list-group';
  @import '~bootstrap/scss/close';
  @import '~bootstrap/scss/toasts';
  @import '~bootstrap/scss/modal';
  @import '~bootstrap/scss/tooltip';
  @import '~bootstrap/scss/popover';
  @import '~bootstrap/scss/carousel';
  @import '~bootstrap/scss/spinners';

  // Helpers
  @import '~bootstrap/scss/helpers';

  // Utilities
  @import '~bootstrap/scss/utilities/api';
  // scss-docs-end import-stack

  // swiper
  @import '~swiper/swiper-bundle.css';

  //partials
  @import 'partials/section';
  @import 'partials/buttons';
  @import 'partials/sliders';
}
