.t-lp .t-form {
  &__input-box {
    position: relative;
    padding: 2.5rem;
    margin-top: 1.5rem;

    @include media-breakpoint-up(lg) {
      margin-top: 2.5rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: drop-shadow(#{$box-shadow});
    }

    .form-label {
      position: absolute;
      top: 2.5rem;
      left: 50%;
      padding: 0.5rem;
      white-space: nowrap;
      background-color: $white;
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(sm) {
        font-size: $input-font-size * 0.65;
      }
    }

    .form-control {
      position: relative;
      max-width: 390px;
      margin: 0 auto;
      border-style: dashed;

      @include media-breakpoint-down(sm) {
        padding: $input-padding-y * 0.8 $input-padding-x * 0.8;
      }
    }
  }

  &__legals-cont {
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
      margin-top: 2.75rem;
    }
  }

  &__submit {
    display: block;
    margin: 2rem auto 0;
  }
}
