<section class="t-form section section--white" id="t-form">
  <div class="container">
    <h2 class="h2 section__title">ZAREJESTRUJ SWÓJ ZAKUP</h2>

    <div class="t-form__form-cont">
      <form id="t-form" action="">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="t-form__input-box">
              <img src="../../../images/t-form/t-form-input-box-background.png" alt="" />
              <input type="text" class="form-control" id="order-number" required />
              <label for="order-number" class="form-label">Zarejestruj nr zamówienia online</label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="t-form__input-box">
              <img src="../../../images/t-form/t-form-input-box-background.png" alt="" />
              <input type="email" class="form-control" id="email" required />
              <label for="email" class="form-label">Podaj adres e-mail</label>
            </div>
          </div>
          <div class="col-12">
            <div class="t-form__legals-cont">
              <h4 class="h4 text-uppercase text-center mb-3">
                <a href="#" class="text-secondary" target="_blank" rel="nofollow noopener">Regulamin promocji</a>
              </h4>
              <p class="text-center fs-7 mb-4">
                *W sklepach stacjonarnych koszulkę otrzymasz od&nbsp;razu podczas&nbsp;zakupów.
              </p>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="check-all" />
                <label class="form-check-label fs-7" for="check-all">Zaznacz wszystko</label>
              </div>
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  name="legal-check-2"
                  id="legal-check-1"
                  required
                />
                <label class="form-check-label fs-7" for="legal-check-1"
                  >Mam ukończone 16 lat i&nbsp;wyrażam zgodę na&nbsp;otrzymywanie od&nbsp;Martes Sport Sp. z&nbsp;o.o.
                  z&nbsp;siedzibą w&nbsp;Bielsku-Białej, ul.&nbsp;Malowany Dworek 115 (KRS: 0000077249, NIP: 5471791682)
                  niezamówionej informacji handlowej za&nbsp;pomocą środków komunikacji elektronicznej,
                  w&nbsp;szczególności poczty elektronicznej (newsletter) - obejmującej zwłaszcza informacje
                  o&nbsp;aktualnych promocjach, kodach rabatowych, organizowanych konkursach, a&nbsp;także innych
                  ofertach. Potwierdzam, że&nbsp;chcę otrzymać 10% rabatu na&nbsp;kolejne zakupy powyżej&nbsp;0
                  zł.</label
                >
              </div>
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  name="legal-check-2"
                  id="legal-check-2"
                  required
                />
                <label class="form-check-label fs-7" for="legal-check-2"
                  >Mam ukończone 16 lat i&nbsp;wyrażam zgodę na&nbsp;przetwarzanie przez&nbsp;Martes Sport Sp.
                  z&nbsp;o.o. z&nbsp;siedzibą w&nbsp;Bielsku-Białej, ul.&nbsp;Malowany Dworek 115 (KRS: 0000077249, NIP:
                  5471791682), jako&nbsp;administratora danych osobowych, moich danych osobowych podanych
                  w&nbsp;niniejszym formularzu celem&nbsp;dostosowania do&nbsp;mnie oferty handlowej lub&nbsp;reklamy
                  w&nbsp;sposób zautomatyzowany (poprzez profilowanie). Obejmuje to&nbsp;zwłaszcza sporządzenie
                  i&nbsp;wysyłkę spersonalizowanej informacji handlowej.
                </label>
              </div>
              <p class="fs-7">
                Wiem, że&nbsp;podanie przeze&nbsp;mnie danych zawartych w&nbsp;niniejszym formularzu, jak&nbsp;też
                wyrażenie zgody bądź&nbsp;zgód, o&nbsp;których mowa powyżej, jest w&nbsp;pełni dobrowolne. Moje dane
                mogą zostać udostępnione podmiotom trzecim wyłącznie, wówczas, gdy&nbsp;takie prawo lub&nbsp;obowiązek
                wynikają z&nbsp;powszechnie obowiązujących przepisów. W&nbsp;każdej chwili mogę zażądać dostępu
                do&nbsp;moich danych osobowych, a&nbsp;także domagać się ich poprawienia, sprostowania
                lub&nbsp;przeniesienia. Wiem&nbsp;również, że&nbsp;moje dane będą przechowywane i&nbsp;przetwarzane
                przez&nbsp;administratora danych osobowych tak długo, aż&nbsp;nie zażądam ich usunięcia lub&nbsp;nie
                cofnę zgody na&nbsp;ich przetwarzanie.
              </p>
              <p class="fs-7">
                Ponadto przyjmuję do&nbsp;wiadomości, iż&nbsp;w&nbsp;każdej chwili mogę zgłosić sprzeciw
                względem&nbsp;dalszego przetwarzania moich danych osobowych przez&nbsp;administratora i&nbsp;domagać się
                ich usunięcia, jak&nbsp;też zażądać ograniczenia zakresu ich przetwarzania. W&nbsp;przypadku
                stwierdzenia, że&nbsp;przetwarzanie odbywa się z&nbsp;naruszeniem prawa, przysługuje mi prawo wniesienia
                skargi do&nbsp;organu nadzorczego. Mogę również odwołać moją zgodę na&nbsp;przetwarzanie moich danych
                osobowych w&nbsp;określonym celu, w&nbsp;dowolnej formie, w&nbsp;tym korzystając z&nbsp;poniższego
                formularza: Odwołanie zgody
              </p>
            </div>

            <button class="t-form__submit btn btn-primary text-white">WYŚLIJ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
