<section class="banner">
  <div class="container">
    <div class="banner__wrapper">
      <img src="../../../images/logos/martens.png" alt="Martens logo" class="banner__logo banner__logo--martens" />
      <img src="../../../images/logos/new-balance.png" alt="New Balance logo" class="banner__logo banner__logo--nb" />
    </div>

    <div class="banner__cont">
      <h1 class="h1 text-center text-uppercase">
        <span class="fw-light fs-3"
          >przy zakupie butów&nbsp;<img src="../../../images/logos/drft-nb.png" alt="DRFT NB"
        /></span>
        <br />
        KOSZULKA do biegania NEW BALANCE
      </h1>
      <img class="img-fluid" src="../../../images/banner/banner-img.png" alt="buty i koszulki" />
      <a
        href="https://www.sklepmartes.pl/1283-nbdrift"
        target="_blank"
        rel="nofollow noopener"
        class="btn btn-primary text-white"
        >SKORZYSTAJ</a
      >
    </div>
  </div>
</section>
