.t-lp .banner {
  position: relative;
  //height: 1030px;
  background: $bahamaBlue url('../../../images/banner/banner-backgroud-mobile.png') no-repeat center top;
  background-size: 100%;

  @include media-breakpoint-up(sm) {
    background-size: auto;
  }

  @include media-breakpoint-up(md) {
    background-color: transparent;
    background-image: url('../../../images/banner/banner-backgroud.png');
    background-size: auto;
  }

  &:before {
    position: absolute;
    bottom: -5.5rem;
    left: 50%;
    z-index: -1;
    display: none;
    max-width: 100%;
    content: url('../../../images/banner/banner-background-logo.png');
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__wrapper {
    position: relative;
    padding-top: 65%;

    @include media-breakpoint-up(sm) {
      padding-top: 440px;
    }
  }

  &__logo {
    position: absolute;
    top: 0.5rem;
    max-width: 25%;

    @include media-breakpoint-up(md) {
      top: 2rem;
    }

    &--nb {
      right: 0;
      @include media-breakpoint-up(lg) {
        right: 4.375rem;
      }
    }

    &--martens {
      left: 0;
      @include media-breakpoint-up(lg) {
        left: 4.375rem;
      }
    }
  }

  &__cont {
    padding-bottom: 3rem;
    color: $white;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }

    h1 {
      max-width: 600px;
      margin: 0 auto;

      span {
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
      }
    }

    & > img {
      @include media-breakpoint-up(lg) {
        margin-top: -5rem;
        margin-bottom: -6rem;
      }
    }
  }
}
