<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>NB x Martens Sport | New Balance</title>
    <meta name="description" content="" />
  </head>
  <body style="margin: 0">
    <main class="t-lp">
      <!--      banner-->
      {{> layout/banner/banner }}

      <!--      steps-->
      {{> layout/steps/steps }}

      <!--      t-form-->
      {{> layout/t-form/t-form }}

      <!--      shoes-->
      {{> layout/shoes/shoes }}

      <!--      t-shirts-->
      {{> layout/t-shirts/t-shirts }}
    </main>
  </body>
</html>
