<section class="products section">
  <div class="container">
    <h2 class="section__title h2 d-inline-flex flex-wrap align-items-center justify-content-center w-100">
      Kup buty biegowe&nbsp;<img src="../../../images/shoes/shoes-drft-nb-logo.png" alt="" /> na&nbsp;sklepmartes.pl
    </h2>

    <div class="shoes__slider t-slider">
      <div class="row justify-content-center">
        <div class="col-10">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <a
                  href="https://www.sklepmartes.pl/mezczyzna/69644-meskie-obuwie-nbmdrftlk1-nbmdrftlk1-new-balance.html#/rozmiar-40/pe-men/kolor-black"
                  class="shoes__product-card"
                  title="NBMDRFTLK1 NEW BALANCE"
                  target="_blank"
                  rel="noopener nofollow"
                >
                  <div
                    class="shoes__product-img"
                    style="background-image: url(${require('../../../images/shoes/mdrftlk1_2.png')})"
                  ></div>
                  <p class="h3">229,99 zł</p>
                  <button class="shoes__product-btn">KUP TERAZ</button>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.sklepmartes.pl/mezczyzna/69645-meskie-obuwie-nbmdrftlv1-nbmdrftlv1-new-balance.html#/rozmiar-40/pe-men/kolor-blue"
                  class="shoes__product-card"
                  title="NBMDRFTLV1 NEW BALANCE"
                  target="_blank"
                  rel="noopener nofollow"
                >
                  <div
                    class="shoes__product-img"
                    style="background-image: url(${require('../../../images/shoes/mdrftlv1_2.png')})"
                  ></div>
                  <p class="h3">229,99 zł</p>
                  <button class="shoes__product-btn">KUP TERAZ</button>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.sklepmartes.pl/mezczyzna/69646-meskie-obuwie-nbmdrftrt1-nbmdrftrt1-new-balance.html#/pe-men/kolor-navy_orange/rozmiar-43"
                  class="shoes__product-card"
                  target="_blank"
                  title="NBMDRFTRT1 NEW BALANCE"
                  rel="noopener nofollow"
                >
                  <div
                    class="shoes__product-img"
                    style="background-image: url(${require('../../../images/shoes/mdrftrt1_2.png')})"
                  ></div>
                  <p class="h3">195,49 zł <s class="fs-4 fw-normal ms-2">229,99 zł</s></p>
                  <button class="shoes__product-btn">KUP TERAZ</button>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.sklepmartes.pl/kobieta/50861-damskie-buty-nbwdrftlb1-nbwdrftlb1-new-balance.html#/pe-women/kolor-blue/rozmiar-36_5"
                  class="shoes__product-card"
                  target="_blank"
                  title="NBWDRFTLB1 NEW BALANCE"
                  rel="noopener nofollow"
                >
                  <div
                    class="shoes__product-img"
                    style="background-image: url(${require('../../../images/shoes/wdrftlb1_2.png')})"
                  ></div>
                  <p class="h3">229,99 zł</p>
                  <button class="shoes__product-btn">KUP TERAZ</button>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.sklepmartes.pl/kobieta/50863-damskie-buty-nbwdrftlk1-new-balance.html#/pe-women/kolor-black/rozmiar-36_5"
                  class="shoes__product-card"
                  target="_blank"
                  title="NBWDRFTLK1 NEW BALANCE"
                  rel="noopener nofollow"
                >
                  <div
                    class="shoes__product-img"
                    style="background-image: url(${require('../../../images/shoes/wdrftlk1_2.png')})"
                  ></div>
                  <p class="h3">229,99 zł</p>
                  <button class="shoes__product-btn">KUP TERAZ</button>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.sklepmartes.pl/kobieta/73995-damskie-obuwie-nbwdrftrb1-nbwdrftrb1-new-balance.html#/pe-women/kolor-uv_glo/rozmiar-39"
                  class="shoes__product-card"
                  target="_blank"
                  title="NBWDRFTRB1 NEW BALANCE"
                  rel="noopener nofollow"
                >
                  <div
                    class="shoes__product-img"
                    style="background-image: url(${require('../../../images/shoes/wdrftrb1_2.png')})"
                  ></div>
                  <p class="h3">229,99 zł</p>
                  <button class="shoes__product-btn">KUP TERAZ</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="t-slider__nav">
        <button type="button" class="t-slider__nav-btn t-slider__nav-btn--prev shoes__slider-nav-btn--prev">
          <img class="img-fluid" src="../../../images/icons/ic-left.png" alt="Prev slide" />
        </button>
        <button type="button" class="t-slider__nav-btn t-slider__nav-btn--next shoes__slider-nav-btn--next">
          <img class="img-fluid" src="../../../images/icons/ic-right.png" alt="Next slide" />
        </button>
      </div>
    </div>
  </div>
</section>
