.t-lp .shoes {
  .section__title {
  }

  &__slider {
    margin-top: 1rem;
  }

  &__product-card {
    display: block;
    max-width: 295px;
    padding: 0.25rem 0.25rem 0.5rem;
    margin: 1rem auto;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      color: $body-color;
      box-shadow: $box-shadow;

      .shoes__product-img {
        transform: scale(1.03);
      }
    }

    p {
      font-style: normal;
    }
  }

  &__product-img {
    width: 100%;
    background: no-repeat center center/contain;
    transition: transform 0.2s ease-in-out;
    aspect-ratio: 295 / 180;
  }

  &__product-btn {
    text-decoration: underline;
    background-color: transparent;
    border: none;
  }
}
